{# Super simple styling, placing the button fixed on the screen. #}
<style>
  .bnf-import-logged-in {
    position: fixed;
    left: 1em;
    bottom: 1em;
    z-index: 999;
  }
</style>

<div class="bnf-import-logged-in">
  <a class="btn-primary btn-filled btn-xsmall" href="{{ url }}">
      {{ 'Find content for @name'|trans({'@name': name}, {"context": "BNF"}) }}
  </a>
</div>
