{% for item in items %}
  {% set url = item.content['#url'] %}
  {% set target_value = url.options.attributes.target ?? '' %}
  {% set target = target_value ? ('target="' ~ target_value ~ '"')|raw : '' %}
  <a href="{{ url }}" {{ target }} class="card-grid__link link-tag">{{ item.content['#title'] }}</a>
{% endfor %}
