<ul class="footer-info__icons">
  {% for key in ['facebook', 'instagram', 'youtube', 'spotify'] %}
    {% if settings[key] is not empty %}
      <li>
        <a href="{{ settings[key] }}" class="footer-info__icon" target="_blank">
          <img width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/social/icon-social-{{ key }}.svg" alt="{{ key }} link" loading="lazy"/>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
