<ul class="footer-info__links">
    <li>
        <a href="/" class="footer-info__link">Behandling af persondata</a>
    </li>
    <li>
        <a href="/" class="footer-info__link">Servicedeklaration</a>
    </li>
    <li>
        <a href="/" class="footer-info__link">Tilgængelighed</a>
    </li>
</ul>
