<ul class="footer-info__links">
  {% for link in settings.secondary_links %}
    {% if link.name and link.content %}
      <li>
        <a href="{{ link.content }}" class="footer-info__link">{{ link.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
