<div class="footer-widgets">
	<div class="dropdown">
		<select class="dropdown__select" aria-label="dropdown">
			<option class="dropdown__option" value="DK">DK</option>
			<option class="dropdown__option" value="SEK">SEK</option>
			<option class="dropdown__option" value="ENG">ENG</option>
		</select>
		<div class="dropdown__arrows">
			<span>
				<img class="dropdown__arrow" width="10" height="6" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-triangle.svg" alt="" loading="lazy"/>
				<img class="dropdown__arrow dropdown__arrow--bottom" width="10" height="6" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-triangle.svg" alt="" loading="lazy"/>
			</span>

		</div>
	</div>
	<div>
		{{ logo }}
	</div>
</div>
