{%
  set classes = [
  'hero',
  media ? '' : 'hero--has-no-media'
]
%}

<section {{ attributes.addClass(classes) }}>
  {% if link %}
    {% set url = link.0['#url'] %}
    {% set target_value = url.options.attributes.target ?? '' %}
    {% set target = target_value ? ('target="' ~ target_value ~ '"')|raw : '' %}
    <a href="{{ url }}" {{ target }} class="hero__content arrow arrow__hover--right-large">
      {% include "@novel/components/hero-inner.html.twig" %}

      <div>
        {{ source(baseIconPath ~ '/arrow-ui/icon-arrow-ui-large-right.svg') }}
      </div>
    </a>

  {% else %}
    <div class="hero__content">
      {% include "@novel/components/hero-inner.html.twig" %}
    </div>

  {% endif %}

  <div class="hero__visual">
    <div class="hero__visual-inner">
      {% include '@novel/components/media-container.html.twig'
        with {
        attributes: create_attribute(),
        media: media,
        has_media: media,
        placeholder_text: teaser_text,
      } only %}
    </div>
  </div>
</section>
