{%
  set classes = [
  'hero',
  media ? '' : 'hero--has-no-media'
]
%}

<section {{ attributes.addClass(classes) }}>
  {% if link.0 %}
    {% set url = link.0['#url'].external ? link.0['#url'].uri : link.0['#url'].toString() %}
    {% set target = link.0['#url'].options.target|default('_self') %}

    <a href="{{ url }}" target="{{ target }}" class="hero__content arrow arrow__hover--right-large">
      {% include "@novel/components/hero-inner.html.twig" %}

      <div>
        {{ source(baseIconPath ~ '/arrow-ui/icon-arrow-ui-large-right.svg') }}
      </div>
    </a>

  {% else %}
    <div class="hero__content">
      {% include "@novel/components/hero-inner.html.twig" %}
    </div>

  {% endif %}

  <div class="hero__visual">
    <div class="hero__visual-inner">
      {% include '@novel/components/media-container.html.twig'
        with {
        attributes: create_attribute(),
        media: media,
        has_media: media,
        placeholder_text: teaser_text,
      } only %}
    </div>
  </div>
</section>
