version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    open-pull-requests-limit: 20
    schedule:
      interval: weekly
      day: monday
      time: '04:00'
      timezone: Europe/Copenhagen
    labels:
      - "dependencies"
      - "github_actions"
  - package-ecosystem: composer
    directory: "/"
    open-pull-requests-limit: 20
    groups:
      drupal-core-minor-major-releases:
        patterns:
          - "drupal/core*"
        update-types:
          - "major"
          - "minor"
      drupal-core-patch-releases:
        patterns:
          - "drupal/core*"
        update-types:
          - "patch"
    ignore:
      - dependency-name: "drupal/potion"
      - dependency-name: "spawnia/sailor"
        versions: [">1.1.0"]
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
      timezone: Europe/Copenhagen
    labels:
      - "dependencies"
      - "drupal"
  - package-ecosystem: composer
    directory: "/dev-scripts"
    open-pull-requests-limit: 20
    schedule:
      interval: weekly
      timezone: Europe/Copenhagen
    labels:
      - "dependencies"
      - "dev-scripts"
  - package-ecosystem: npm
    directory: "/"
    open-pull-requests-limit: 20
    groups:
      typescript-eslint:
        patterns:
          - "@typescript-eslint/*"
    ignore:
      # @types/node are linked to the Node version used within the project.
      # Bump the package manually when upgrading to a new Node version.
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      # Tests fail when running Cypress 15 using task cy:cypress:local.
      - dependency-name: "cypress"
        versions: [ ">=15" ]
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
      timezone: Europe/Copenhagen
    labels:
      - "dependencies"
      - "js-dependencies"
