---
services:
  https:
    image: ghcr.io/reload/https-proxy:proxy
    ports:
      - '80'
      - '443'
    depends_on:
      - varnish
    volumes:
      - 'projectroot:/app'
      - '${HOME}/.local/share/mkcert:/rootCA:ro'
      - '${HOME}/.local/share/dev_certificates:/cert:rw'
    environment:
      NGINX_DOCUMENT_ROOT: /app/web
      NGINX_PROXY_PASS: http://varnish:8080
      VIRTUAL_PROTO: https
      VIRTUAL_HOST: >-
        ${COMPOSE_PROJECT_NAME:-dpl-cms}.${DEV_TLD:-docker}
    labels:
      - dev.orbstack.domains=${COMPOSE_PROJECT_NAME:-dpl-cms}.local
    working_dir: /app
