parameters:
  level: max
  paths:
    - web/modules/custom
    - web/themes/custom
  ignoreErrors:
    - '#Unsafe usage of new static\(\).#'
    # Drupal Form API makes extensive use for arrays which we cannot provide
    # more detailed typing of.
    - '#.*\:\:(buildForm|getEditableConfigNames|submitForm)\(\) .* no value type specified in iterable type array\.#'
    # Drupal has many different iterable interfaces we do not want to provide
    # iterable typing for.
    - '#no value type specified in iterable type Drupal\\.*Interface#'
