parameters:
  level: max
  paths:
    - web/modules/custom
  ignoreErrors:
    # We have a conflict between what phpcs and phpstan wants.
    # Phpcs says: No documentation in dockblocks for drupal hooks.
    # Phpstan says: You have to specify the format in the docblock
    # Because of the conflict we'll ignore the error for the hooks for now.
    -
      message: "#^Function ddb_react_requirements\\(\\) return type has no value type specified in iterable type array\\.$#"
      count: 1
      path: web/modules/custom/ddb_react/ddb_react.install

    -
      message: "#^Function ddb_react_library_info_alter\\(\\) has parameter \\$libraries with no value type specified in iterable type array\\.$#"
      count: 1
      path: web/modules/custom/ddb_react/ddb_react.module
    -
      message: "#^Function dpl_login_install\\(\\) has no return typehint specified\\.$#"
      count: 1
      path: web/modules/custom/dpl_login/dpl_login.install

    -
      message: "#^Function dpl_login_openid_connect_post_authorize\\(\\) has no return typehint specified\\.$#"
      count: 1
      path: web/modules/custom/dpl_login/dpl_login.module

    -
      message: "#^Function dpl_login_openid_connect_post_authorize\\(\\) has parameter \\$account with no typehint specified\\.$#"
      count: 1
      path: web/modules/custom/dpl_login/dpl_login.module

    -
      message: "#^Function dpl_login_openid_connect_post_authorize\\(\\) has parameter \\$context with no typehint specified\\.$#"
      count: 1
      path: web/modules/custom/dpl_login/dpl_login.module

    -
      message: "#^Function dpl_login_openid_connect_userinfo_alter\\(\\) has no return typehint specified\\.$#"
      count: 1
      path: web/modules/custom/dpl_login/dpl_login.module

    -
      message: "#^Function dpl_login_openid_connect_userinfo_alter\\(\\) has parameter \\$context with no typehint specified\\.$#"
      count: 1
      path: web/modules/custom/dpl_login/dpl_login.module

    -
      message: "#^Function dpl_login_openid_connect_userinfo_alter\\(\\) has parameter \\$userinfo with no typehint specified\\.$#"
      count: 1
      path: web/modules/custom/dpl_login/dpl_login.module
