<div class="dpl-react-app-container--page">
  <div {{ attributes }}>
    <section class="reservation-list-page ssc">
      <div class="ssc-head-line w-60 mx-32 my-48"></div>
      <div class="ssc-square w-90 ml-32 my-32"></div>
      <div class="ssc-head-line w-10 mx-32 mt-48"></div>
      <div class="list-reservation my-32">
        <div class="list-reservation__material">
          <div><div class="ssc-square cover--size-small"></div></div>
          <div class="list-reservation__information">
            <div class="ssc-head-line w-30 mb-24"></div>
            <div class="ssc-head-line w-100 mb-4"></div>
            <div class="ssc-line w-70 mb-4"></div>
            <div class="ssc-line w-60 mb-4"></div>
          </div>
        </div>
        <div class="list-reservation__status">
          <div class="list-reservation__counter">
            <div class="ssc-circle w-100"></div>
          </div>
          <div class="list-reservation__deadline">
            <div class="ssc-head-line w-30 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
          </div>
        </div>
      </div>
      <div class="list-reservation my-32">
        <div class="list-reservation__material">
          <div><div class="ssc-square cover--size-small"></div></div>
          <div class="list-reservation__information">
            <div class="ssc-head-line w-30 mb-24"></div>
            <div class="ssc-head-line w-100 mb-4"></div>
            <div class="ssc-line w-70 mb-4"></div>
            <div class="ssc-line w-60 mb-4"></div>
          </div>
        </div>
        <div class="list-reservation__status">
          <div class="list-reservation__counter">
            <div class="ssc-circle w-100"></div>
          </div>
          <div class="list-reservation__deadline">
            <div class="ssc-head-line w-30 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
          </div>
        </div>
      </div>
      <div class="ssc-head-line w-10 mx-32 mt-80"></div>
      <div class="list-reservation my-32">
        <div class="list-reservation__material">
          <div><div class="ssc-square cover--size-small"></div></div>
          <div class="list-reservation__information">
            <div class="ssc-head-line w-30 mb-24"></div>
            <div class="ssc-head-line w-100 mb-4"></div>
            <div class="ssc-line w-70 mb-4"></div>
            <div class="ssc-line w-60 mb-4"></div>
          </div>
        </div>
        <div class="list-reservation__status">
          <div class="list-reservation__counter">
            <div class="ssc-circle w-100"></div>
          </div>
          <div class="list-reservation__deadline">
            <div class="ssc-head-line w-30 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
          </div>
        </div>
      </div>
      <div class="list-reservation my-32">
        <div class="list-reservation__material">
          <div><div class="ssc-square cover--size-small"></div></div>
          <div class="list-reservation__information">
            <div class="ssc-head-line w-30 mb-24"></div>
            <div class="ssc-head-line w-100 mb-4"></div>
            <div class="ssc-line w-70 mb-4"></div>
            <div class="ssc-line w-60 mb-4"></div>
          </div>
        </div>
        <div class="list-reservation__status">
          <div class="list-reservation__counter">
            <div class="ssc-circle w-100"></div>
          </div>
          <div class="list-reservation__deadline">
            <div class="ssc-head-line w-30 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
          </div>
        </div>
      </div>
      <div class="ssc-head-line w-10 mx-32 mt-80"></div>
      <div class="list-reservation my-32">
        <div class="list-reservation__material">
          <div><div class="ssc-square cover--size-small"></div></div>
          <div class="list-reservation__information">
            <div class="ssc-head-line w-30 mb-24"></div>
            <div class="ssc-head-line w-100 mb-4"></div>
            <div class="ssc-line w-70 mb-4"></div>
            <div class="ssc-line w-60 mb-4"></div>
          </div>
        </div>
        <div class="list-reservation__status">
          <div class="list-reservation__counter">
            <div class="ssc-circle w-100"></div>
          </div>
          <div class="list-reservation__deadline">
            <div class="ssc-head-line w-30 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
          </div>
        </div>
      </div>
      <div class="list-reservation my-32">
        <div class="list-reservation__material">
          <div><div class="ssc-square cover--size-small"></div></div>
          <div class="list-reservation__information">
            <div class="ssc-head-line w-30 mb-24"></div>
            <div class="ssc-head-line w-100 mb-4"></div>
            <div class="ssc-line w-70 mb-4"></div>
            <div class="ssc-line w-60 mb-4"></div>
          </div>
        </div>
        <div class="list-reservation__status">
          <div class="list-reservation__counter">
            <div class="ssc-circle w-100"></div>
          </div>
          <div class="list-reservation__deadline">
            <div class="ssc-head-line w-30 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
            <div class="ssc-line w-20 mb-4"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
