<div class="dpl-react-app-container--page">
  {#
    Everything inside this div will be replaced by the react app.
    That means that all of this content is just skeleton, to avoid a brief
    blank page whilst React is booting up.
  #}
  <div{{ attributes }}>
    <div class="search">
      <div class="search__header">
        {% if showing_results_for_text %}
          <h1 class="search__header__title">{{ showing_results_for_text }}</h1>
        {% endif %}
      </div>
      <div class="search__results">
        <div class="search__grid">
          <aside class="search-facets">
            <div class="search-facets__container ssc">
              {# Skeleton for toggle switches #}
              <div class="search-facets__toggles">
                <div><div class="ssc-head-line w-70">&nbsp;</div></div>
                <div><div class="ssc-head-line w-70">&nbsp;</div></div>
              </div>
              {# Skeleton for radio button groups #}
              <div class="search-radio-button-group-wrapper">
                <div class="search-radio-button-group">
                  <div class="ssc-line w-30">&nbsp;</div>
                  <div class="ssc-line w-30">&nbsp;</div>
                </div>
                <div class="search-radio-button-group">
                  <div class="ssc-line w-30">&nbsp;</div>
                  <div class="ssc-line w-30">&nbsp;</div>
                </div>
                <div class="search-radio-button-group">
                  <div class="ssc-line w-30">&nbsp;</div>
                  <div class="ssc-line w-30">&nbsp;</div>
                </div>
              </div>
              {# Skeleton for facet groups #}
              <ul class="search-facets__groups">
                {% for i in 1..10 %}
                  <li class="search-facet-group">
                    <div class="search-facet-group__header">
                      <div class="ssc-line w-40">&nbsp;</div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </aside>
          <section>
            <div class="search__results-top-bar">
              <div class="search__results-top-bar__left">
                <h2 class="search__results-heading">&nbsp;</h2>
              </div>
              <div class="search__results-top-bar__right">
                <button class="search__modify-filters-button" disabled>
                  <span>{{ add_more_filters_text|default('Flere filtre') }}</span>
                </button>
              </div>
            </div>
            <ul class="content-list">
              {% for i in 1..number_of_fake_result_items %}
                <li class="content-list__item">{{ include('search-result-item.html.twig') }}</li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
