<div class="dpl-react-app-container--page">
    <div {{ attributes }}>
        <div class="content-list-page">
            <h1 class="content-list-page__heading">
                {{ attributes['data-branch-list-title-text']|raw }}
            </h1>
        </div>
    </div>
</div>
