{% set has_image = (image is not empty) %}

<figure class="logo">
  {% if has_image %}
    {{ image }}
  {% else %}
    <figcaption class="logo-fallback">
      <p class="logo-fallback__text-name">{{ title }}</p>
      <p class="logo-fallback__text-libraries">{{ "Bibliotekerne"|t }}</p>
    </figcaption>
  {% endif %}
</figure>
