<article class="card-list-item ssc">
  <div class="ssc-square cover--size-small">&nbsp;</div>
  <div class="ssc-wrapper">
    <div class="ssc-head-line w-60 mb"></div>
    <div class="ssc-line w-60 mbs">&nbsp;</div>
    <div class="ssc-line w-60 mbs">&nbsp;</div>
  </div>
</article>
