{% if has_event_link %}
  {% set node = element['#object'] %}
  {% set node_title = node.label() %}
  {% for item in items %}
      {% set url = item.content['#url'].external ? item.content['#url'].uri : item.content['#url'].toString() %}
      {% set title = item.content['#title'] %}

      {% set classes = [
      "btn-primary",
      "btn-filled",
      "btn-large",
      "event-header__button",
      "js-dpl-mapp",
      ] %}

     {% set event_data = {
        linkId: "Klik på Køb billet",
        customClickParameter: {
          "24": node_title
        }
      }|json_encode %}

      {% if event_is_active %}
        <a {{ item.attributes
          .setAttribute('href', url)
          .setAttribute('target', '_blank')
          .addClass(classes)
          .setAttribute('data-dpl-mapp-event-id', 'click')
          .setAttribute('data-dpl-mapp-event-data', event_data|e('html_attr')) }}>
              {{ title }}
          </a>
      {% else %}
          <span {{ item.attributes.addClass(classes).setAttribute('disabled', true) }}>
              {{ title }}
          </span>
      {% endif %}
  {% endfor %}
{% endif %}
