<div {{ attributes.addClass('medias') }}>
  {% for item in items %}
    {% set item_classes = [
      'medias__item',
      loop.first ? 'medias__item--first' : '',
      loop.last ? 'medias__item--last' : '',
    ] %}
    <div {{ item.attributes.addClass(item_classes) }}>
      {{ item.content }}
    </div>
  {% endfor %}
</div>
