{% for item in items %}
   <a href="{{ item.content['#file']|file_url }}" class="link-with-icon arrow__hover--right-small" target="_blank">
    <div class="link-with-icon__icon ">
      <img class="invert" src="/themes/custom/novel/assets/dpl-design-system/icons/collection/Ebook.svg" alt="" />
    </div>
    {{ item.content["#description"] }}
    {{ source(baseIconPath ~ '/arrow-ui/icon-arrow-ui-small-right.svg') }}
  </a>
{% endfor %}
