{% set item_classes = [
  'tag',
  'tag--large',
  'tag--fill',
] %}

{% for item in items %}
  <a href="{{ item.content['#url'].toString() }}" class="tag tag--large tag--fill">
    {{ item.content['#title'] }}
  </a>
{% endfor %}
