{% set classes = [
  'medias',
  (items|length > 1) ? 'medias--multiple' : 'medias--single'
] %}
<div {{ attributes.addClass(classes) }}>
  {% for item in items %}
    {% set item_classes = [
      'medias__item',
      (loop.first and items|length > 1) ? 'medias__item--first' : '',
      (loop.last and items|length > 1) ? 'medias__item--last' : ''
    ] %}
    <div {{ item.attributes.addClass(item_classes) }}>
      {{ item.content }}
    </div>
  {% endfor %}
</div>
