{% for item in items %}
  {{ item.content }}
{% endfor %}

<div class="consent-placeholder cookie-placeholder cookie-placeholder__hide" data-category="cookie_cat_marketing">
  <div class="pagefold-triangle--medium pagefold-inherit-parent"></div>
  <div class="cookie-placeholder__wrapper">
    <div class="cookie-placeholder__description">
        <div id="dpl-react-apps-cookie-placeholder">
        {{ "To view this content, we need your consent to use marketing cookies."|t({}, {"context": "Cookie Placeholder"}) }}
        </div>
    </div>
    <button
        type="button"
        class="cookie-placeholder__manage-consent-button btn-primary btn-outline btn-xlarge arrow__hover--right-small"
        aria-label="{{ 'Manage consent'|t({}, {'context': 'Cookie Placeholder'}) }}"
        onClick="javascript:CookieConsent.renew();"
    >
        {{ "Manage consent"|t({}, {"context": "Cookie Placeholder"}) }}
    </button>
  </div>
</div>
