# NOTE: .gitattributes is scaffolded, edit asserts/.gitattributes and
# run `composer install` to edit.

# Mark FBS client and CMS API produced by OpenAPI Generator as generated.
packages/fbs-client/**/*.* linguist-generated=true
packages/cms-api/**/*.* linguist-generated=true

# Mark Sailor generated GraphQL classes as generated.
web/modules/custom/*/src/GraphQL/**/*.* linguist-generated=true
# And the schema files we keep around.
web/modules/custom/*/schema/*.graphql
