<footer class="footer">
  <h2 class="hide-visually">Globale links</h2>
  <div class="footer__mobile">
    <div class="pagefold-parent--small internal-pagefold-parent">
      <div class="pagefold-triangle--small pagefold-inherit-parent"></div>
      <div>
        <h3 class="text-header-h4 mb-16">Åbningstider</h3>
        <p class="text-body-medium-regular mb-24">
          Bibliotekerne lorem ipsum consectetur, adipisci velit, sed quia non
          numquam eius modi tempora incidunt ut labore.
        </p>
        <div class="footer__column-link mb-48">
          <a href="/" class="link-tag">Se bibliotekernes åbningstider</a>
        </div>
      </div>
      <ul class="accordion">
        <li class="accordion__row">
          <h3 class="accordion__header text-header-h4">
            <button
              class="accordion__button px-48"
              aria-expanded="false"
              data-accordion-trigger="true"
            >
              Om Bibliotekerne
              <img
                class="accordion__button-arrow"
                width="10" height="6" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-triangle.svg"
                alt=""
                loading="lazy"
              />
            </button>
          </h3>
          <div hidden="" class="accordion__body pt-16 pb-32">
            <a href="/">Brug bibliotekerne</a>
            <a href="/">Erstatninger og gebyrer</a>
            <a href="/">Opret bruger</a>
            <a href="/">Biblioteket - A til Å</a>
            <a href="/">Internetadgang</a>
            <a href="/">Print, scan og kopi</a>
            <a href="/">Booking af lokaler</a>
            <a href="/">Nyhedsbrev</a>
          </div>
        </li>
        <li class="accordion__row">
          <h3 class="accordion__header text-header-h4">
            <button
              class="accordion__button px-48"
              aria-expanded="false"
              data-accordion-trigger="true"
            >
              Online tilbud
              <img
                class="accordion__button-arrow"
                width="10" height="6" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-triangle.svg"
                alt=""
                loading="lazy"
              />
            </button>
          </h3>
          <div hidden="" class="accordion__body pt-16 pb-32">
            <a href="/">Brug bibliotekerne</a>
            <a href="/">Erstatninger og gebyrer</a>
            <a href="/">Opret bruger</a>
            <a href="/">Biblioteket - A til Å</a>
            <a href="/">Internetadgang</a>
            <a href="/">Print, scan og kopi</a>
            <a href="/">Booking af lokaler</a>
            <a href="/">Nyhedsbrev</a>
          </div>
        </li>
        <li class="accordion__row">
          <h3 class="accordion__header text-header-h4">
            <button
              class="accordion__button px-48"
              aria-expanded="false"
              data-accordion-trigger="true"
            >
              Kontakt
              <img
                class="accordion__button-arrow"
                width="10" height="6" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-triangle.svg"
                alt=""
                loading="lazy"
              />
            </button>
          </h3>
          <div hidden="" class="accordion__body pt-16 pb-32">
            <a href="/">Brug bibliotekerne</a>
            <a href="/">Erstatninger og gebyrer</a>
            <a href="/">Opret bruger</a>
            <a href="/">Biblioteket - A til Å</a>
            <a href="/">Internetadgang</a>
            <a href="/">Print, scan og kopi</a>
            <a href="/">Booking af lokaler</a>
            <a href="/">Nyhedsbrev</a>
          </div>
        </li>
      </ul>
      <div class="footer__widgets mt-48">
        <div class="dropdown">
          <select class="dropdown__select" aria-label="dropdown">
            <option class="dropdown__option" value="DK">DK</option>
            <option class="dropdown__option" value="SEK">SEK</option>
            <option class="dropdown__option" value="ENG">ENG</option>
          </select>
          <div class="dropdown__arrows">
            <span>
              <img
                class="dropdown__arrow"
                width="10" height="6" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-triangle.svg"
                alt=""
                loading="lazy"
              />
              <img
                class="dropdown__arrow dropdown__arrow--bottom"
                width="10" height="6" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-triangle.svg"
                alt=""
                loading="lazy"
              />
            </span>
          </div>
        </div>
        <div>
          {{ logo }}
        </div>
      </div>
      <div class="footer__separator mt-24"></div>
      <div class="footer__site-info mt-24">
        <div class="footer__site-info-links">
          <ul>
            <li>
              <a href="/" class="footer__site-info-link">
                Behandling af persondata
              </a>
            </li>
            <li>
              <a href="/" class="footer__site-info-link">Servicedeklaration</a>
            </li>
            <li><a href="/" class="footer__site-info-link">Relement</a></li>
            <li>
              <a href="/" class="footer__site-info-link">Tilgængelighed</a>
            </li>
          </ul>
        </div>
        <div class="footer__site-info-icons mt-32">
          <a href="/">
            <img
              width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/social/icon-social-facebook.svg"
              alt="Facebook link"
              loading="lazy"
            />
          </a>
          <a href="/">
            <img
              width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/social/icon-social-instagram.svg"
              alt="Instagram link"
              loading="lazy"
            />
          </a>
          <a href="/">
            <img
              width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/social/icon-social-youtube.svg"
              alt="Youtube link"
              loading="lazy"
            />
          </a>
          <a href="/">
            <img
              width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/social/icon-social-spotify.svg"
              alt="Spotify link"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__desktop">
    <div class="pagefold-parent--medium internal-pagefold-parent">
      <div class="pagefold-triangle--medium pagefold-inherit-parent"></div>
      <div class="footer__column-wrapper">
        <div class="footer__column">
          <h3 class="text-header-h4 mb-16">Åbningstider</h3>
          <div class="footer__column">
            <p class="text-body-medium-regular">
              Bibliotekerne lorem ipsum consectetur, adipisci velit, sed quia
              non numquam eius modi tempora incidunt ut labore.
            </p>
            <div class="footer__column-link">
              <a href="/" class="link-tag">Se bibliotekernes åbningstider</a>
            </div>
          </div>
        </div>
        <div class="footer-column">
          <h3 class="text-header-h4">Om bibliotekerne</h3>
          <ul>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Brug af bibliotekerne</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Erstatninger og gebyrer</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Opret bruger</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Biblioteket - A til Å</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Internetadgang</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Print, scan og kopi</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Booking af lokaler</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Nyhedsbrev</a>
            </li>
          </ul>
        </div>
        <div class="footer-column">
          <h3 class="text-header-h4">Online tilbud</h3>
          <ul>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Litteratursiden</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Bibliotek.dk</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">eReolen</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Filmstriben</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h3 class="text-header-h4 mb-16">Kontakt</h3>
          <p class="text-body-medium-regular">
            Lyngby-Taarbæk Bibliotekerne
            <br />
            Lyngby Hovedgade 28
            <br />
            2800 Kgs. Lyngby
            <br />
            <br />
            <a class="footer__column-phone" href="tel:4545973700">
              +45 45 97 37 00
            </a>
            <br />
            Man - fre / Kl. 10-16
            <br />
          </p>
          <div class="footer__column-link">
            <a href="/" class="link-tag">info@ltk.dk</a>
          </div>
        </div>
        <div class="footer-column">
          <h3 class="text-header-h4">Text</h3>
          <ul>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Lorem ipsum a la lorem ip</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Bibliotekerne lorem</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Labore ipsum</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Adipisci velit le lorem</a>
            </li>
          </ul>
        </div>
        <div class="footer-column">
          <h3 class="text-header-h4">Text</h3>
          <ul>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Lorem ipsum a la lorem ip</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Bibliotekerne lorem</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Labore ipsum</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Adipisci velit le lorem</a>
            </li>
          </ul>
        </div>
        <div class="footer-column">
          <h3 class="text-header-h4">Text</h3>
          <ul>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Lorem ipsum a la lorem ip</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Bibliotekerne lorem</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Labore ipsum</a>
            </li>
            <li class="footer-column--link">
              <a href="/" class="link-tag">Adipisci velit le lorem</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__widgets mt-80">
        <div class="dropdown">
          <select class="dropdown__select" aria-label="dropdown">
            <option class="dropdown__option" value="DK">DK</option>
            <option class="dropdown__option" value="SEK">SEK</option>
            <option class="dropdown__option" value="ENG">ENG</option>
          </select>
          <div class="dropdown__arrows">
            <span>
              <img
                class="dropdown__arrow"
                width="10" height="6" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-triangle.svg"
                alt=""
                loading="lazy"
              />
              <img
                class="dropdown__arrow dropdown__arrow--bottom"
                width="10" height="6" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-triangle.svg"
                alt=""
                loading="lazy"
              />
            </span>
          </div>
        </div>
        <div>
        {{ logo }}
        </div>
      </div>
      <div class="footer__separator"></div>
      <div class="footer__site-info">
        <div class="footer__site-info-icons">
          <a href="/">
            <img
              width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/social/icon-social-facebook.svg"
              alt="Facebook link"
              loading="lazy"
            />
          </a>
          <a href="/">
            <img
              width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/social/icon-social-instagram.svg"
              alt="Instagram link"
              loading="lazy"
            />
          </a>
          <a href="/">
            <img
              width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/social/icon-social-youtube.svg"
              alt="Youtube link"
              loading="lazy"
            />
          </a>
          <a href="/">
            <img
              width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/social/icon-social-spotify.svg"
              alt="Spotify link"
              loading="lazy"
            />
          </a>
        </div>
        <div class="footer__site-info-links color-secondary-gray">
          <a href="/" class="footer__site-info-link">
            Behandling af persondata
          </a>
          <a href="/" class="footer__site-info-link">Servicedeklaration</a>
          <a href="/" class="footer__site-info-link">Relement</a>
          <a href="/" class="footer__site-info-link">Tilgængelighed</a>
        </div>
      </div>
    </div>
  </div>
</footer>
