
<ul class="header__menu-navigation">
{% for item in items %}
  <li class="header__menu-navigation-item">
    <a href="{{ item.url }}" class="header__menu-navigation-link text-body-medium-regular hide-linkstyle">
      {{ item.title }}
    </a>
  </li>

{% endfor %}
</ul>
