<article class="article">
    <header class="article-header">
        <h1 class="article-header__title">{{ label }}</h1>

        {{ content.field_subtitle }}

        {% include '@novel/components/article-header-info.twig' with {'author_name': author_name, 'node': node} %}

    </header>

    {{ content.field_paragraphs }}
</article>
