<article{{ attributes.addClass('event-page') }}>
  <header class="event-header">
    <section class="event-header__content">
        <!-- Tag -->
       {{content.field_event_date}}
        <h1 class="event-header__title">{{ label }}</h1>
      <!-- button -->
    </section>
    <section class="event-header__visual">
      <!-- image -->
    </section>
  </header>
  {{ content|without('field_event_date') }}
</article>
