{# Structure is based rendering being embedded in field--node--field-ticket-categories--event.html.twig #}
<div>
  {{ content.field_ticket_category_name }}: {{ content.field_ticket_category_price }}
</div>
