{% extends '@novel/views/views-view--content-list-page.html.twig' %}

{% block facets %}
  <li class="content-list-page__filter">
    {{ drupal_block("facet_block:content_categories") }}
  </li>
  <li class="content-list-page__filter">
    {{ drupal_block("facet_block:content_branch") }}
  </li>
{% endblock %}
