<ul class="filtered-event-list__list"
    data-show-more-list
    data-initial-visible-items="4"
    data-hide-list-button-after-expand="true"
    data-show-more-list-id="filtered-event-list">
  {% for row in rows %}
    <li class="filtered-event-list__list-item" data-show-more-item>
      {{ row.content }}
    </li>
  {% endfor %}
</ul>
