{% extends '@novel/views/views-view--content-list-page.html.twig' %}

{% block facets %}
  <div class="content-list-page__filter">
    {{ drupal_block("facet_block:event_categories") }}
  </div>
  <div class="content-list-page__filter">
    {{ drupal_block("facet_block:branch") }}
  </div>
{% endblock %}
